section.header
	.header__logo
		img(src="img/logo.png", srcset="img/logo@2x.png 2x", alt="Logo CSSSR")
	.header__img-right
		img(src="img/topsecret.png", srcset="iimg/topsecret@2x.png 2x", alt="секретно")