.container__youself
	margin-bottom 40px
.youself__title
	margin-bottom 13px
	padding-left 2px
	font-size 24px
	font-weight 700
.youself__description
	margin-bottom 40px
	padding-left 3px
	font-size 15px
	line-height 1.55
	letter-spacing -0.051px
	color #3d3d3d
.youself__write 
	margin-top -14px
	width 100%
	min-height 184px
	font-family 'Courier New', sans-serif
	font-size 30px
	line-height 2
	letter-spacing 3px
	color #231f20
	background url(../../img/border-for-text.png) repeat-y
	background-position 0 -10px