section.container__youself
	h2.youself__title Расскажите о себе словами
	p.youself__description Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.
	div.youself__write(contenteditable)