.container__job
	margin-bottom 49px
.job__img
	position relative
	top -9px
	left -22px
	padding-bottom 43px
.job__about
	padding-bottom 18px
	display flex
	flex-wrap wrap
	input[type='text']
		margin-left 17px
		font-family 'Courier New', sans-serif
		font-size 30px
		background-color rgba(0, 0, 0, 0)
		border solid 0
.center
	text-align center
.about__title
	position relative
	top 18px
	margin-right 15px
	font-size 22px
	font-weight 700
.input__border
	border-bottom 10px solid transparent
	border-image url(../../img/border.png) 40 round
	flex-grow 1