section.container__level
	h2.level__title Уровень владения JavaScript
	.level__slider-wrapper
		.slider
			#bg
				#thumb
			.slider__mark-wrapper
				.mark.mark1
				.mark.mark2
				.mark.mark3
				.mark.mark4
			.slider__title-wrapper
				#level1 Не владею
				#level2 Использую готовые решения
				#level3 Использую готовые решения и умею их переделывать
				#level4 Пишу сложный JS с нуля